// Loading

.loading {
  z-index: 6000;
  position: relative;
  height: $loading-dimension;
  width: $loading-dimension;
  display: inline-block;
  vertical-align: middle;
  // Style Pulse
  &.loading-pulse {
    animation: pulse 1s 0s ease-in-out infinite;
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    &.loading-primary {
      background-color: $brand-primary;
    }
  }
  // Style Spinner
  &.loading-spinner {
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-radius: 100%;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid #fff;
    border-bottom: 1.1em solid #fff;
    border-left: 1.1em solid #fff;
    transform: translateZ(0);
    animation: spinner 1.1s infinite linear;
    &.loading-primary {
      border-left: 1.1em solid $brand-primary;
      border-bottom: 1.1em solid $brand-primary;
      border-right: 1.1em solid $brand-primary;
    }
  }
  // Style Blink
  &.loading-blink {
    position: relative;
    & > div:nth-child(1) {
      top: 65%;
      left: 41%;
      animation: blink 1.2s -0.84s infinite ease-in-out;
    }
    & > div:nth-child(2) {
      top: 53%;
      left: 64%;
      transform: rotate(-45deg);
      animation: blink 1.2s -0.72s infinite ease-in-out;
    }
    & > div:nth-child(3) {
      top: 30%;
      left: 77%;
      transform: rotate(90deg);
      animation: blink 1.2s -0.6s infinite ease-in-out;
    }
    & > div:nth-child(4) {
      top: 7%;
      left: 64%;
      transform: rotate(45deg);
      animation: blink 1.2s -0.48s infinite ease-in-out;
    }
    & > div:nth-child(5) {
      top: 0;
      left: 41%;
      animation: blink 1.2s -0.36s infinite ease-in-out;
    }
    & > div:nth-child(6) {
      top: 7%;
      left: 18%;
      transform: rotate(-45deg);
      animation: blink 1.2s -0.24s infinite ease-in-out;
    }
    & > div:nth-child(7) {
      top: 30%;
      left: 6%;
      transform: rotate(90deg);
      animation: blink 1.2s -0.12s infinite ease-in-out;
    }
    & > div:nth-child(8) {
      top: 53%;
      left: 18%;
      transform: rotate(45deg);
      animation: blink 1.2s 0s infinite ease-in-out;
    }
    & > div {
      background-color: #fff;
      width: 4px;
      height: 30%;
      border-radius: 2px;
      margin: 2px;
      animation-fill-mode: both;
      position: absolute;
    }
    &.loading-large {
      & > div {
        width: 6px;
      }
    }
    &.loading-small {
      & > div {
        width: 2px;
      }
    }
    &.loading-primary {
      & > div {
        background-color: $brand-primary;
      }
    }
  }
  // Size
  &.loading-large {
    height: $loading-dimension-large;
    width: $loading-dimension-large;
  }
  &.loading-small {
    height: $loading-dimension-small;
    width: $loading-dimension-small;
  }
  // Position
  &.loading-fixed {
    position: fixed;
  }
  &.loading-absolute {
    position: absolute;
  }
  &.loading-fixed, &.loading-absolute {
    top: 50%;
    margin-top: $loading-dimension/-2;
    left: 50%;
    margin-left: $loading-dimension/-2;
    &.loading-large {
      margin-top: $loading-dimension-large/-2;
      margin-left: $loading-dimension-large/-2;
    }
    &.loading-small {
      margin-top: $loading-dimension-small/-2;
      margin-left: $loading-dimension-small/-2;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  50% {
    opacity: 0.3; }
  100% {
    opacity: 1; } }
