@font-face {
  font-family: 'mantle';
  src: url('../font/mantle.eot?58195788');
  src: url('../font/mantle.eot?58195788#iefix') format('embedded-opentype'),
       url('../font/mantle.woff2?58195788') format('woff2'),
       url('../font/mantle.woff?58195788') format('woff'),
       url('../font/mantle.ttf?58195788') format('truetype'),
       url('../font/mantle.svg?58195788#mantle') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'mantle';
    src: url('../font/mantle.svg?58195788#mantle') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before, .fa:before {
  font-family: "mantle";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-truck:before { content: '\e800'; } /* '' */
.icon-floppy:before { content: '\e801'; } /* '' */
.icon-chart-bar:before { content: '\e802'; } /* '' */
.icon-info-1:before { content: '\e803'; } /* '' */
.icon-info-2:before { content: '\e804'; } /* '' */
.icon-book:before { content: '\e805'; } /* '' */
.icon-ajust:before { content: '\e806'; } /* '' */
.icon-cancel:before { content: '\e807'; } /* '' */
.icon-tint:before { content: '\e808'; } /* '' */
.icon-inbox:before { content: '\e809'; } /* '' */
.icon-globe:before { content: '\e80a'; } /* '' */
.icon-flash:before { content: '\e80b'; } /* '' */
.icon-umbrella:before { content: '\e80c'; } /* '' */
.icon-cloud:before { content: '\e80d'; } /* '' */
.icon-target:before { content: '\e80e'; } /* '' */
.icon-cw:before { content: '\e80f'; } /* '' */
.icon-arrows-cw:before { content: '\e810'; } /* '' */
.icon-down-big:before { content: '\e811'; } /* '' */
.icon-left-big:before { content: '\e812'; } /* '' */
.icon-right-big:before { content: '\e813'; } /* '' */
.icon-up-big:before { content: '\e814'; } /* '' */
.icon-down-dir:before { content: '\e815'; } /* '' */
.icon-up-dir:before { content: '\e816'; } /* '' */
.icon-left-dir:before { content: '\e817'; } /* '' */
.icon-right-dir:before { content: '\e818'; } /* '' */
.icon-down-open:before { content: '\e819'; } /* '' */
.icon-left-open:before { content: '\e81a'; } /* '' */
.icon-right-open:before { content: '\e81b'; } /* '' */
.icon-up-open:before { content: '\e81c'; } /* '' */
.icon-cog:before { content: '\e81d'; } /* '' */
.icon-cog-alt:before { content: '\e81e'; } /* '' */
.icon-wrench:before { content: '\e81f'; } /* '' */
.icon-calendar:before { content: '\e820'; } /* '' */
.icon-folder:before { content: '\e821'; } /* '' */
.icon-folder-open:before { content: '\e822'; } /* '' */
.icon-attention:before { content: '\e823'; } /* '' */
.icon-attention-circled:before { content: '\e824'; } /* '' */
.icon-location:before { content: '\e825'; } /* '' */
.icon-trash-empty:before { content: '\e826'; } /* '' */
.icon-doc:before { content: '\e827'; } /* '' */
.icon-comment:before { content: '\e828'; } /* '' */
.icon-bell:before { content: '\e829'; } /* '' */
.icon-export:before { content: '\e82a'; } /* '' */
.icon-pencil:before { content: '\e82b'; } /* '' */
.icon-edit:before { content: '\e82c'; } /* '' */
.icon-print:before { content: '\e82d'; } /* '' */
.icon-retweet:before { content: '\e82e'; } /* '' */
.icon-download:before { content: '\e82f'; } /* '' */
.icon-upload:before { content: '\e830'; } /* '' */
.icon-tags:before { content: '\e831'; } /* '' */
.icon-bookmark:before { content: '\e832'; } /* '' */
.icon-flag:before { content: '\e833'; } /* '' */
.icon-help-circled:before { content: '\e834'; } /* '' */
.icon-info-circled-1:before { content: '\e835'; } /* '' */
.icon-home:before { content: '\e836'; } /* '' */
.icon-link:before { content: '\e837'; } /* '' */
.icon-attach:before { content: '\e838'; } /* '' */
.icon-lock:before { content: '\e839'; } /* '' */
.icon-lock-open:before { content: '\e83a'; } /* '' */
.icon-pin:before { content: '\e83b'; } /* '' */
.icon-eye:before { content: '\e83c'; } /* '' */
.icon-eye-off:before { content: '\e83d'; } /* '' */
.icon-tag:before { content: '\e83e'; } /* '' */
.icon-plus-circled:before { content: '\e83f'; } /* '' */
.icon-minus-circled:before { content: '\e840'; } /* '' */
.icon-mail:before { content: '\e841'; } /* '' */
.icon-heart:before { content: '\e842'; } /* '' */
.icon-heart-empty:before { content: '\e843'; } /* '' */
.icon-star:before { content: '\e844'; } /* '' */
.icon-star-empty:before { content: '\e845'; } /* '' */
.icon-user:before { content: '\e846'; } /* '' */
.icon-users:before { content: '\e847'; } /* '' */
.icon-music:before { content: '\e848'; } /* '' */
.icon-video:before { content: '\e849'; } /* '' */
.icon-videocam:before { content: '\e84a'; } /* '' */
.icon-picture:before { content: '\e84b'; } /* '' */
.icon-camera:before { content: '\e84c'; } /* '' */
.icon-camera-alt:before { content: '\e84d'; } /* '' */
.icon-th-large:before { content: '\e84e'; } /* '' */
.icon-th:before { content: '\e84f'; } /* '' */
.icon-th-list:before { content: '\e850'; } /* '' */
.icon-resize-full:before { content: '\e851'; } /* '' */
.icon-search:before { content: '\e852'; } /* '' */
.icon-ok:before { content: '\e853'; } /* '' */
.icon-resize-small:before { content: '\e854'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-hdd:before { content: '\f0a0'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-sort-down:before { content: '\f0dd'; } /* '' */
.icon-sort-up:before { content: '\f0de'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-gauge:before { content: '\f0e4'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-keyboard:before { content: '\f11c'; } /* '' */
.icon-flag-empty:before { content: '\f11d'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-eraser:before { content: '\f12d'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-bullseye:before { content: '\f140'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-ticket:before { content: '\f145'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-link-ext-alt:before { content: '\f14c'; } /* '' */
.icon-export-alt:before { content: '\f14d'; } /* '' */
.icon-compass:before { content: '\f14e'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-sort-name-up:before { content: '\f15d'; } /* '' */
.icon-sort-name-down:before { content: '\f15e'; } /* '' */
.icon-sort-alt-up:before { content: '\f160'; } /* '' */
.icon-sort-alt-down:before { content: '\f161'; } /* '' */
.icon-sort-number-up:before { content: '\f162'; } /* '' */
.icon-sort-number-down:before { content: '\f163'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-taxi:before { content: '\f1ba'; } /* '' */
.icon-tree:before { content: '\f1bb'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-share-squared:before { content: '\f1e1'; } /* '' */
.icon-binoculars:before { content: '\f1e5'; } /* '' */
.icon-plug:before { content: '\f1e6'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-bell-off:before { content: '\f1f6'; } /* '' */
.icon-bell-off-empty:before { content: '\f1f7'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-eyedropper:before { content: '\f1fb'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-bicycle:before { content: '\f206'; } /* '' */
.icon-bus:before { content: '\f207'; } /* '' */
.icon-motorcycle:before { content: '\f21c'; } /* '' */
.icon-street-view:before { content: '\f21d'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-train:before { content: '\f238'; } /* '' */
.icon-subway:before { content: '\f239'; } /* '' */
.icon-map-o:before { content: '\f278'; } /* '' */
.icon-map:before { content: '\f279'; } /* '' */
.icon-twitter:before { content: '\f304'; } /* '' */
.icon-facebook:before { content: '\f308'; } /* '' */